.sidebar-menu i{
    margin-right: 3%;
}

.user-panel {
    text-align: center;
}

.logo {
    background-color: #0a0a0a !important;
}
.icon {
    z-index: 1000 !important;
}
#caxa {
    margin-top: 30%;
}
#corpo {
    background-color: #424242;
}
figure {
    text-align: center;
}
figcaption {
    color:white;
    font-size: 1.5em;
}

#slides {
    height: 550px;
}