
body{
  margin: 0;
  height: 100vh;
}

/*tooltips*/
.tooltips {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
}

.tooltips .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: #c19435;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    /*z-index: 1000;*/
    bottom: 101%;
    left: 18%;
    margin-left: -60px;
}

.tooltips .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #c19435 transparent transparent transparent;
}

.tooltips:hover .tooltiptext {
    visibility: visible;
}
/*fim do tooltips*/


iframe {
    width:100%;
    height: 100%;
}
/*.nav-item a {*/
    /*font-size: 14px !important;*/
/*}*/
.juntese {
    font-size: 3.4em;
    position: absolute;
    top: 20%;
    right: 38%;
    z-index: 50;
    float: left;
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    font-weight: bold;
}
.aa {
    text-decoration: none !important;
}
.aa:hover {
    color: white;
    text-shadow: 1px 1px black;
}
#meubanner li{
    font-size: 1.4em;
}
.vazio {
   margin-top: 5%;
}
#vender {
    margin-left: -2%;
}
.vender {
    /*width: 532px;*/
    height: 820px;
}
#fundo {
    background-image: url("../images/map.png");
}
#destaquesCarousel .fp-tableCell {
  height: 72px !important;
}
header .fp-tableCell{
  margin-top: 10% !important;
}
#sl0, #sl1 {
  background-image: url('../images/p1.jpg');
}
.carousel-inner {
/* height: 500px; */
  margin-top: 4%;
}
/*
#sl2 {
  background-image: url('../publi/new1.webp');
}*/
.logo {
  margin-left: -2%;
}

/*carousel-indicators*/
.caixaslid {
  padding: 3% 5% 5% 5%;
}

.fade-in {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.fixed-footer {
  position: absolute;
  bottom: 0;
  z-index: 1030;
}
.footermobile {
  display: none;
  width: 100%;
  text-align: center;
}

.fixed-bottommeu {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

.imglp {
  width: 50px;
  height: 50px;
}

#img{
background-color: #000000;
height: 100%;
  width: 100%;
  background-image: url("../images/logoww.png");
  background-repeat: no-repeat;
  background-position: center;

}
/* HEADER*/
.bg-dark {
    background-color: #000000 !important;
    max-height: 70px;
    border-bottom: 6px solid #c19435;
}

.logo {
    z-index: 2;
    position: absolute;
    width: 120px;
    height: 120px;
    margin-top: -30px;
}

.nav-link {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.8em !important;
    color: #c19435 !important;
    padding-right: .9rem !important;
    padding-left: .9rem !important;
}

.dropdown-toggle::after {
  border-top: .3em solid #c19435 !important;
}

.bold {
  font-weight: bolder;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    margin-top: 16px !important;
    /* text-align: center; */
    padding: 10px;
    /* margin: .125rem 0 0; */
    min-width: 0px !important;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #000000 !important;
    /* background-clip: padding-box; */
    border: 4px solid #c19435 !important;
    border-radius: 0px !important;
}

.dropdown-menu li {
  padding: 5px;
}

/* SLIDER */
.banner .carousel-item {
  height: 90vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.banner .carousel-indicators li{
  padding: 3px;
  background-color: #c19435 !important;
}

  /*SLIDER FORM*/
.formpesquisatodo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
.formpesquisa {
  z-index: 2;
    position: absolute;
    margin-top: -150px;
}
.box {
}
.formmargin {
    margin-right: .2rem!important;
}
.selectmeu {
  width: 25%;
}
.inputmeu {
  width: 12.2%;
}
input.meu-form {
  width: 100%;
  font-weight: bold;
  text-align: center;
    border: none;
    padding: 15px 5px;
    background: #c19435;
}

input.meu-form::placeholder {
    color: #000000;
    text-align: center;
    font-weight: bold;
}

.meu-select {
    display: inline-block;
    width: 100%;
    padding: 15px 10px;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    font-weight: bold;
    vertical-align: middle;
    background: url(../images/icond.png) no-repeat right .75rem center/15px 15px;
    background-color: #c19435;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.meubotao {
    margin-left: -8px;
    cursor: pointer;
    background-color: #000000 !important;
    padding: 17.6px 5px;
    color: #c19435;
    font-weight: bold;
    font-size: 0.8em;
    border: none;
}

/* FILTER PROPRIEDADE */

.gallery-title {
  font-weight: 600;
  padding: 40px 1px 5px 1px;
    font-size: 3em;
    color: #c19435;
    text-align: center;
    font-weight: 500;
    margin-bottom: 30px;
}

.filter-button {
    font-size: 18px;
    border: 1px solid #c19435;
    border-radius: 5px;
    text-align: center;
    color: #c19435;
    margin-bottom: 30px;
}
.filter-button:hover {
    font-size: 18px;
    border: 1px solid #c19435;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #c19435;
}
.btn-default:active .filter-button:active {
    background-color: #c19435;
    color: white;
}
.port-image {
    width: 100%;
}
.gallery_product{
  margin-bottom: 30px;
}
.sdestques{
  margin-top: 20px;
  margin-bottom: 50px;
}
.destaques {
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 9px 12px 16px -1px rgba(224,215,224,0.85);
  -moz-box-shadow: 9px 12px 16px -1px rgba(224,215,224,0.85);
  box-shadow: 9px 12px 16px -1px rgba(224,215,224,0.85);
}

.txt-nome {
  margin-top: 20px;
  font-size: 1.4em;
  font-weight: bold;
  color: #000000;
}
.txt-localizacao {
  margin: 10px;
  font-size: 1.2em;
  font-weight: lighter;
  color: #000000;
}
.txt-dimensao {
  margin: 10px;
  font-size: 1.2em;
  font-weight: lighter;
  color: #000000;
}
.txt-preco {
  margin-bottom: 20px;
  font-size: 1.2em;
  font-weight: 600;
  color: #c19435;
}

.property-box-label.property-box-label-primary {
  background-color: #c19435;
  color: #fff;
}
.property-box-label {
  font-size: 14px;
  font-weight: bold;
  left: -70px;
  padding: 5px 80px;
  position: absolute;
  top: 10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  z-index: 2;
}

/* CONTENT INFORMATIVO */
.fullwidth{
  padding: 15%;
  background-color: #c19435;
  background-image: url(../images/map.png);
  background-repeat: repeat;
  background-position: center center;
}
.fullwidthc {
  padding: 20px;
}
.pub{
  padding: 30px;
}
.pub-img{
  widows: 160px;
  height: 160px;
}
.pub-title{
  font-size: 1.2em;
  color: #fff;
  font-weight: lighter;
}
.pub-text{
  font-size: 0.8em;
  color: #fff;
  font-weight: lighter;
}
.pub-btn{
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #876725;
  color: #fff;
  font-size: 0.8em;
  text-decoration: none;
}

/* SLIDER */
.destaq .carousel-indicators {
  border-radius: 20%;
	left: 0;
	top: auto;
  bottom: 0;
}
.carousel-indicators li {
  border-radius: 20%;
  padding: 3px;
    background-color: #c19435 !important;
}
.carousel-indicators .active {
}

/* Pagina detalhes */
.detalhes-header {
  display: flex;
  justify-content: center;
}
.desc-detalhes{
  width: 100%;
  padding: 0px 10px;
  font-weight: bold;
  font-size:0.8em;
  color: #000000;
}
.preco {
  border-right:2px solid #000000;
}
.tipo {
  text-align: center;
  border-right:2px solid #000000;
}
.area {
  text-align: center;
  border-right:2px solid #000000;
}
.banheiro {
  text-align: right;
}
.detalhes-title {
  padding: 40px 1px 10px 1px;
  font-size: 1.5em;
  color: #000000;
  font-style: italic;
}
.detalhes-desc {
  color: #c19435;
  font-weight: bolder;
  font-size: 1.5em;
  padding: 20px 1px 1px 1px;
}
.detalhes-text {
  font-size: 0.8em;
  color: #000000;
  text-align: justify
}
.detalhes-galeria {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  background: #c19435;
  border-radius: 10px;
}
.detalhes-g-image {
  margin-top: 30px;
}
.icone-detalhes{
  width: 50px;
  height: 50px;
}
.com-detalhes {
  width: 100%;
  padding: 0px 10px;
}
.com-detalhes b {
  font-size: 2em;
  margin-bottom: auto
}
.meumarginb {
    padding: 0 5% 0 5%;
}


/* PAGINA VENDER */
a.linkdetalhes {
  text-decoration: none;
}
a.linkdetalhes:hover {
  margin-bottom: 5px;
  -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.lthome {
  margin-bottom: 40px;
}
.meucol {
  padding: 0px;
}

.pagination-imo {
  padding: 10px;
  list-style: none;
}
.pagination-imo li {
  display: inline;
  font-size:0.8em;
  color: #c19435;
}
.pagination-imo li a {
  font-size:1em;
  padding: 10px;
  color: #c19435;
}

/* CADASTRO DE PROPRIEDADE */
.formcadpro {
  background: #ecba49;
    padding: 0 4% 0 4%;
}
.meucontainer {
  width: 100%;
  height: auto;
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-15 {
  width: 11%;
  padding-right: 10px;
  padding-left: 10px;
}
.meucheckbox {
  display: block;
  position: relative;
  margin-top: 20px;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.meucheckbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #c19435;
}
.meucheckbox:hover input ~ .checkmark {
  background-color: #ccc;
}
.meucheckbox input:checked ~ .checkmark {
  background-color: #c19435;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.meucheckbox input:checked ~ .checkmark:after {
  display: block;
}
.meucheckbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.normas {
  margin-top: 20px;
text-align: justify;
font-size: 0.8em;
color: #000000;
}

/* FOOTER */
.footer {
    font-size: 0.8em;
    padding: 20px 10px;
    border-bottom: 10px solid #c19435;
    background-color: #000000;
    color: #fff;
}
.footer .facebooklink {
    float: right;
}
.footer .instagramlink {
    float: right;
    margin-right: 2%;
}
.footer a {
    color: #c19435;
}

/* STEPPERS */
.info-text {
  text-align: left;
  color: #000000;
  font-size:1.6em !important;
}
.meulabel {
  text-align: left !important;
  font-size: 0.7em;
  font-weight: 500;
}
.meutypenumber {
  padding: 10px;
  background: #b3873d;
  border: 0;
  color: #fff;
  height: 35px;
  width: 100%;
  border-radius: 10px;
}
button[disabled=disabled], button:disabled {
  background-color: rgb(170, 15, 15);
}
.meutextarea {
  color: #fff;
  background: #b3873d;
  border: 0;
  padding: 10px;
  border-radius: 10px;
}
/*Color Variables*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300i,400,400i,500,700,900");
.multi_step_form {
  display: block;
  overflow: hidden;
}
.multi_step_form #msform {
  text-align: center;
  position: relative;
  padding-top: 50px;
  min-height: 820px;
  padding-bottom: 30px;
  margin: 0 auto;
  z-index: 1;
}
.multi_step_form #msform .tittle {
  text-align: center;
  padding-bottom: 55px;
}
.multi_step_form #msform .tittle h2 {
  font: 500 24px/35px "Roboto", sans-serif;
  color: #3f4553;
  padding-bottom: 5px;
}
.multi_step_form #msform .tittle p {
  font: 400 16px/28px "Roboto", sans-serif;
  color: #5f6771;
}
.multi_step_form #msform fieldset {
  border: 0;
  height: 500px;
  padding: 2px 0;
  position: relative;
  width: 100%;
  left: 0;
  right: 0;
}
.multi_step_form #msform fieldset:not(:first-of-type) {
  display: none;
}

.multi_step_form #msform fieldset .form-control, .multi_step_form #msform fieldset .product_select {
  border-radius: 10px;
  border: 0;
  padding: 4px 20px;
  background-color: #b3873d !important;
  font: 400 15px/48px "Roboto", sans-serif;
  color: #000000;
  vertical-align: middle;
  background: url(../images/icond.png) no-repeat right .75rem center/15px 15px;
  box-shadow: none;
  outline: none;
  width: 100%;
color: #fff;
padding-bottom: 5px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.multi_step_form #msform fieldset .input-group {
  padding-bottom: 20px;
}
.multi_step_form #msform fieldset .input-group .custom-file {
  width: 100%;
  height: auto;
}
.multi_step_form #msform fieldset .file_added li {
  font: 400 15px/28px "Roboto", sans-serif;
  color: #5f6771;
}
.multi_step_form #msform fieldset .file_added li a {
  color: #5cb85c;
  font-weight: 500;
  display: inline-block;
  position: relative;
  padding-left: 15px;
}
.multi_step_form #msform fieldset .file_added li a i {
  font-size: 22px;
  padding-right: 8px;
  position: absolute;
  left: 0;
  transform: rotate(20deg);
}
.multi_step_form #msform #progressbar {
  margin-bottom: 30px;
  overflow: hidden;
}
.multi_step_form #msform #progressbar li {
  list-style-type: none;
  color: #99a2a8;
  font-size: 9px;
  width: calc(100%/4);
  float: left;
  position: relative;
  font: 500 13px/1 "Roboto", sans-serif;
}
.multi_step_form #msform #progressbar li:nth-child(2):before {
  content: "2";
}
.multi_step_form #msform #progressbar li:nth-child(3):before {
  content: "3";
}
.multi_step_form #msform #progressbar li:nth-child(4):before {
  content: "4";
}
.multi_step_form #msform #progressbar li:before {
  content: "1";
  font: normal normal normal 30px/50px Ionicons;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: block;
  background: #eaf0f4;
  border-radius: 50%;
  margin: 0 auto 10px auto;
}
.multi_step_form #msform #progressbar li:after {
  content: '';
  width: 100%;
  height: 10px;
  background: #eaf0f4;
  position: absolute;
  left: -50%;
  top: 21px;
  z-index: -1;
}
.multi_step_form #msform #progressbar li:last-child:after {
  width: 150%;
}
.multi_step_form #msform #progressbar li.active {
  color: #b3873d;
}
.multi_step_form #msform #progressbar li.active:before, .multi_step_form #msform #progressbar li.active:after {
  background: #b3873d;
  color: white;
}
.multi_step_form #msform .action-button {
  background: #b3873d;
  color: white;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  min-width: 130px;
  font: 700 14px/40px "Roboto", sans-serif;
  border: 1px solid #b3873d;
  margin: 0 5px;
  text-transform: uppercase;
  display: inline-block;
}
.multi_step_form #msform .action-button:hover, .multi_step_form #msform .action-button:focus {
  background: #000000;
  border-color: #b3873d;
}
.multi_step_form #msform .action-button:disabled {
  background: #096;
  cursor: unset;
  border-color: #b3873d;
}
.multi_step_form #msform .previous_button {
  background: transparent;
  color: #99a2a8;
  border-color: #99a2a8;
}
.multi_step_form #msform .previous_button:hover, .multi_step_form #msform .previous_button:focus {
  background: #405867;
  border-color: #405867;
  color: #fff;
}

.img-preview {
  opacity: 0.5; width:100%;
}
.preview{padding:50px 150px; position:relative}
.centered {
  font-size: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-confirmar{
  margin-top: 20px;
  font-size: 1.5em;
  text-align: center;
  color: #b3873d;
}
.obg {
  font-size: 1em; color: #fff; text-align:left;
}

.input-group-addon.primary {
  color: rgb(255, 255, 255);
  background-color: rgb(50, 118, 177);
  border-color: rgb(40, 94, 142);
}
.input-group-addon.success {
  color: rgb(255, 255, 255);
  border: 2px solid rgb(76, 174, 76);
}
.input-group-addon.info {
  color: rgb(255, 255, 255);
  background-color: rgb(57, 179, 215);
  border-color: rgb(38, 154, 188);
}
.input-group-addon.warning {
  color: rgb(255, 255, 255);
  background-color: rgb(240, 173, 78);
  border-color: rgb(238, 162, 54);
}
.input-group-addon.danger {
  color: rgb(255, 255, 255);
  border: 2px solid rgb(212, 63, 58);
}

/* PAGINA CONTATO*/
.contato {
  background-color: #000000;
  padding: 30px;
}
.formfale {
  background-color: #ecba49;
  padding: 30px;
}
.titlecontato {
  margin: 30px 1px 40px 1px;
  color: #ecba49;
  font-size: 2.6em;
  font-weight: 900;
}
.titleform {
  margin: 30px 1px 40px 1px;
  color: #000000;
  font-size: 2.6em;
  font-weight: 900;
}
.itemscontato{
  display: block;
  margin: 10px 1px 15px 1px;
  color: #ecba49;
  font-size: 0.8em;
  font-weight: 500;
}
.meuselectcontato {
  background: #000000;
  color: #ecba49;
  font-weight: bold;
  font-size: 0.8em;
    border: 0;
    height: 30px;
    width: 100%;
    border-radius: 10px;
}
.meubotaocontato {
  max-height: 40px;
  cursor: pointer;
  float:right;
  margin-right: 15px;
  margin-top: 30px;
  font-weight: 700;
  border-radius: 10px;
  background-color: #ecba49;
  border: 2px solid #000000;
  color: #000000;
  padding: 7px 15px;
}
.meubotaocontatoreverse {
  max-height: 40px;
  cursor: pointer;
  float:right;
  margin-right: 15px;
  margin-top: 30px;
  font-weight: 700;
  border-radius: 10px;
  background-color: #000000;
  border: 2px solid #000000;
  color: #fff;
  padding: 7px 15px;
}
.meubotaocontatoj {
  max-height: 40px;
  cursor: pointer;
  float:right;
  margin-top: 30px;
  font-weight: 700;
  border-radius: 10px;
  background-color: #ecba49;
  border: 2px solid #000000;
  color: #000000;
  padding: 7px 15px;
}
.meubotaocontatoj:hover {
  color: #fff;
  transition: 1.5ms;
  background-color: #000000;
}
.meubotaocontatoreverse:hover {
  color: #000000;
  transition: 1.5ms;
  background-color: #ecba49;
}
.meubotaocontato:hover {
  color: #fff;
  transition: 1.5ms;
  background-color: #000000;
}
.inputcontato {
  padding: 10px;
  margin-bottom: 13px;
  background: #000000;
  color: #ecba49;
    border: 0;
    height: 30px;
    width: 100%;
    border-radius: 10px;
}

.inputcontato::placeholder {
  color: #ecba49;
  font-weight: bold;
  padding: 10px;
  font-size: 0.8em;
}
.meutextareac {
  background: #000000;
  color: #ecba49;
  border: 0;
  padding: 10px;
  border-radius: 10px;
}
.meutextareac::placeholder {
  color: #ecba49;
  font-weight: bold;
  padding: 10px;
  font-size: 0.8em;
}

/* PAGINA JUNTE_SE A NOS */
.imgjuntese{
  background: url("../images/jordy.webp");
  background-size: cover;
  min-height: 650px;
}
.fomrjuntese {
  background-color: #ecba49;
  min-height: 650px;
  padding: 70px;
}
.fomrjuntese .inputcontato {
  margin: 20px 1px 20px 1px;
}
.fomrjuntese .meutextareac {
  margin-top: 20px ;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
  font-size: 0.8em;
  font-weight: 700;
  color: #000000;
  padding: 7px 12px;
  border-radius: 10px;
  border: 2px solid #000000;
  background-color: #ecba49;
  display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #000000;
  color: #fff;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.selectcur {
  margin-top: 10px;
}
.selectcur p {
  margin: 0 !important;
  font-weight: 100;
  font-size: 1em;
  text-align: center;
}
.selectcur .small {
  margin: 0 !important;
  font-weight: 100;
  font-size: 0.7em;
  text-align: center;
}

.logom, .telem {
  display: none;
}

/* MENU MOBILE */
.navbar-dark .navbar-toggler {
  color: #c19435 !important;
  border-color: rgba(255, 255, 255, 0) !important;
}
.navbar-dark .navbar-toggler-icon {
  background-image: none !important;
}
/*.navbar-collapse {
  margin: 20px -16px 0px -16px;
  background: #fff;
  width: 100%;
  z-index: 999;
  margin-top: 20px;
}
.navbar-collapse .nav-item {
  padding: 20px;
    text-align: center;
}*/
.meumenu {
  display: none;
  flex-wrap: wrap;
  width: 100%;
}
.meumenu > div:nth-child(even) {
  width: 20%;
}

.meumenu > div:nth-child(odd) {
  width: 40%;
}
.meumenu > div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
	flex-grow: 1;
}
.telem span {
  flex-grow: 1;
  text-align: right;
  font-size: 0.8em;
  font-weight: bold;
  color: #c19435;
}
.imlogom {
  width: 60px;
  height: 60px;
}

.menumob{
  flex-grow: 1;
}
.menumob i {
  font-size: 1.7em;
}

/*   MEDIA QUERIES */
/*
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .fullwidth{
    padding: 40px;
  }
  .logom, .telem {
    display: none !important;
  }
  .meumenu {
    display: flex;
  }

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .footermobile {
    display: block;
  }
  .destaques {
    margin-bottom: 20px;
  }
  .meumenu {
    display: flex;
  }
  .logom, .telem {
    display: block;
  }
  .logop {
    display: none;
  }
  .bg-dark {
    max-height: 140px;
  }
  .imlogom {
    width: 80px;
    height: 80px;
  }
    /* HOME */
    .fullwidth{
      padding: 10px;
    }
    .lthome {
      padding: 1px 10px 10px 10px;
      margin-bottom: 0px !important;
    }
    .banner .carousel-item {
      height: 50vh;
      min-height: 350px;
    }

    .filter-button{
      font-size: 0.8em !important;
      padding: 5px 8px !important;
    }
    .gallery-title {
      font-size: 1.8em;
      padding: 10px 1px 5px 1px;
    }
    .txt-nome {
      margin-top: 10px;
      font-size: 1.2em;
    }
    .txt-localizacao {
      font-size: 1em;
    }
    .txt-dimensao {
      font-size: 1em;
    }
    .txt-preco {
      font-size: 1em;
    }
    /*SLIDER FORM*/
    .meucol {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
      padding-left: 10px;
      padding-right: 10px;
    }
    .formpesquisatodo {
      padding: 20px 1px;
      width: 100%;
    }
    .formpesquisa {
      position: relative;
      margin-top: 0px;
    }
    .formmargin {
      margin-right: .2rem!important;
    }
    input.meu-form {
      height: 30px;
      border-radius: 10px;
      text-align: center;
      font-size: 0.8em;
      padding: 5px 2px;
      width: 100%;
    }
    .meu-select {
      height: 30px;
      border-radius: 10px;
      font-size: 0.8em;
      display: inline-block;
      width: 100%;
      padding: 5px 5px;
      font-weight: 400;
      font-weight: bold;
    }
    .meubotao {
      height: 30px;
      border-radius: 10px;
      margin-left: 0px;
      width: 100%;
      padding: 3px 4px;
      font-size:0.8em;
    }
    .carousel-indicators {
      bottom: 150px;
    }

      /* PAGINA DETALHES */
      .icone-detalhes{
        width: 25px;
        margin-bottom: 20px;
        height: 25px;
      }
      .com-detalhes b {
        font-size: 1.2em;
        margin-bottom: auto
      }
      /* PAGINA JUNTE_SE A NOS */
    .imgjuntese{
      background: url("../images/junte-se.png");
      background-size: cover;
      min-height: 350px;
    }
    .fomrjuntese {
      background-color: #ecba49;
      min-height: 450px;
      padding: 20px;
    }
    .fomrjuntese .inputcontato {
      margin: 10px 1px 10px 1px;
    }
    .fomrjuntese .meutextareac {
      margin-top: 10px ;
    }
    .inputfile + label {
      width: 100%;
      color: #ecba49;
      border: 2px solid #ecba49;
      background-color: #000000;
    }
    .meubotaocontatoj {
      width: 100%;
    }
    .meubotaocontato {
      width: 100%;
    }
    .meubotaocontatoreverse {
      width: 100%;
    }

    /* PAGINA DETALHES */
    .titlecontato {
      font-size: 1.5em;
    }
    .icone-detalhes{
      width: 25px;
      margin-bottom: 20px;
      height: 25px;
    }
    .com-detalhes b {
      font-size: 1.3em;
      margin-bottom: auto
    }
    .contato {
      padding: 15px;
    }
    .formfale {
      padding: 15px;
    }
    .titlecontato {
      margin: 15px 1px 20px 1px;
      font-size: 1.6em;
    }
    .titleform {
      margin: 15px 1px 20px 1px;
      font-size: 1.6em;
    }
    .meutextareac {
      margin-top: 0px;
    }

    /* PAGINA CAD PRODUTOS */

    .multi_step_form #msform fieldset {
      height: auto;
      padding: 4px 0;
    }
    .info-text {
      font-size: 1.2em !important;
    }
    .preview {
      padding: 20px;
      position: relative;
    }

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .footermobile {
    display: block;
  }
  .imglp {
    width: 40px;
    height: 40px;
  }
  #img{
      background-image: url("../images/logowww.png");
  }
  .destaques {
    margin-bottom: 20px;
  }
  .meumenu {
    display: flex;
  }
  .logom, .telem {
    display: block;
  }
  .logop {
    display: none;
  }
  .bg-dark {
    max-height: 140px;
  }
  .imlogom {
    width: 80px;
    height: 80px;
  }
    /* HOME */
    .fullwidth{
      padding: 10px;
    }
    .lthome {
      padding: 1px 10px 10px 10px;
      margin-bottom: 0px !important;
    }
    .banner .carousel-item {
      height: 50vh;
      min-height: 350px;
    }

    .filter-button{
      font-size: 0.8em !important;
      padding: 5px 8px !important;
    }
    .gallery-title {
      font-size: 1.8em;
      padding: 10px 1px 5px 1px;
    }
    .txt-nome {
      margin-top: 10px;
      font-size: 1.2em;
    }
    .txt-localizacao {
      font-size: 1em;
    }
    .txt-dimensao {
      font-size: 1em;
    }
    .txt-preco {
      font-size: 1em;
    }
    /*SLIDER FORM*/
    .meucol {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
      padding-left: 10px;
      padding-right: 10px;
    }
    .formpesquisatodo {
      padding: 20px 1px;
      width: 100%;
    }
    .formpesquisa {
      position: relative;
      margin-top: 0px;
    }
    .formmargin {
      margin-right: .2rem!important;
    }
    input.meu-form {
      height: 30px;
      border-radius: 10px;
      text-align: center;
      font-size: 0.8em;
      padding: 5px 2px;
      width: 100%;
    }
    .meu-select {
      height: 30px;
      border-radius: 10px;
      font-size: 0.8em;
      display: inline-block;
      width: 100%;
      padding: 5px 5px;
      font-weight: 400;
      font-weight: bold;
    }
    .meubotao {
      height: 30px;
      border-radius: 10px;
      margin-left: 0px;
      width: 100%;
      padding: 3px 4px;
      font-size:0.8em;
    }
    .carousel-indicators {
      bottom: 150px;
    }

      /* PAGINA DETALHES */
      .icone-detalhes{
        width: 25px;
        margin-bottom: 20px;
        height: 25px;
      }
      .com-detalhes b {
        font-size: 1.2em;
        margin-bottom: auto
      }
      /* PAGINA JUNTE_SE A NOS */
    .imgjuntese{
      background: url("../images/junte-se.png");
      background-size: cover;
      min-height: 350px;
    }
    .fomrjuntese {
      background-color: #ecba49;
      min-height: 450px;
      padding: 20px;
    }
    .fomrjuntese .inputcontato {
      margin: 10px 1px 10px 1px;
    }
    .fomrjuntese .meutextareac {
      margin-top: 10px ;
    }
    .inputfile + label {
      width: 100%;
      color: #ecba49;
      border: 2px solid #ecba49;
      background-color: #000000;
    }
    .meubotaocontatoj {
      width: 100%;
    }
    .meubotaocontato {
      width: 100%;
    }
    .meubotaocontatoreverse {
      width: 100%;
    }

    /* PAGINA DETALHES */
    .titlecontato {
      font-size: 1.5em;
    }
    .icone-detalhes{
      width: 25px;
      margin-bottom: 20px;
      height: 25px;
    }
    .com-detalhes b {
      font-size: 1.3em;
      margin-bottom: auto
    }
    .contato {
      padding: 15px;
    }
    .formfale {
      padding: 15px;
    }
    .titlecontato {
      margin: 15px 1px 20px 1px;
      font-size: 1.6em;
    }
    .titleform {
      margin: 15px 1px 20px 1px;
      font-size: 1.6em;
    }
    .meutextareac {
      margin-top: 20px;
    }

    /* PAGINA CAD PRODUTOS */

    .multi_step_form #msform fieldset {
      height: auto;
      padding: 4px 0;
    }
    .info-text {
      font-size: 1.2em !important;
    }
    .preview {
      padding: 20px;
      position: relative;
    }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  .footermobile {
    display: block;
  }
  .imglp {
    width: 35px;
    height: 35px;
  }
  #img{
    background-image: url("../images/logowww.png");
}
  .destaques {
    margin-bottom: 20px;
  }
  .meumenu {
    display: flex;
  }
  .logom, .telem {
    display: block;
  }
  .logop {
    display: none;
  }
  .fullwidth{
    padding: 10px;
  }
  .lthome {
    padding: 1px 40px 10px 40px;
    margin-bottom: 0px !important;
  }
  .banner .carousel-item {
    height: 30vh;
    min-height: 250px;
  }
  .banner .carousel-indicators li{
    padding: 2px;
  }
  .bg-dark {
    max-height: 90px;
  }
  .filter-button{
    font-size: 0.8em !important;
    padding: 5px 8px !important;
  }
  .gallery-title {
    font-size: 1.1em;
    margin-bottom: 15px;
    padding: 10px 1px 5px 1px;
  }
  .txt-nome {
    margin-top: 10px;
    font-size: 1.2em;
  }
  .txt-localizacao {
    font-size: 1em;
  }
  .txt-dimensao {
    font-size: 1em;
  }
  .txt-preco {
    font-size: 1em;
  }
  /*SLIDER FORM*/
  .meucol {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .formpesquisatodo {
    padding: 20px 1px;
    width: 100%;
  }
  .formpesquisa {
    position: relative;
    margin-top: 0px;
  }
  .formmargin {
    margin-right: .2rem!important;
  }
  input.meu-form {
    text-align: center;
    font-size: 0.6em;
    padding: 5px 3px;
    width: 100%;
  }
  .meu-select {
    font-size: 0.6em;
    display: inline-block;
    width: 100%;
    padding: 5px 5px;
    font-weight: 400;
    font-weight: bold;
  }
  .meubotao {
    margin-left: 0px;
    width: 100%;
    padding: 3px 4px;
    font-size:0.8em;
  }
  .carousel-indicators {
    bottom: 130px;
  }
    /* PAGINA DETALHES */
    .icone-detalhes{
      width: 25px;
      margin-bottom: 20px;
      height: 25px;
    }
    .com-detalhes b {
      font-size: 1.2em;
      margin-bottom: auto
    }
    /* PAGINA JUNTE_SE A NOS */
  .imgjuntese{
    background: url("../images/junte-se.png");
    background-size: cover;
    min-height: 350px;
  }
  .fomrjuntese {
    background-color: #ecba49;
    min-height: 450px;
    padding: 20px;
  }
  .fomrjuntese .inputcontato {
    margin: 10px 1px 10px 1px;
  }
  .fomrjuntese .meutextareac {
    margin-top: 10px ;
  }
  .inputfile + label {
    width: 100%;
    color: #ecba49;
    border: 2px solid #ecba49;
    background-color: #000000;
  }
  .meubotaocontatoj {
    width: 100%;
  }
  .meubotaocontato {
    width: 100%;
  }
  .meubotaocontatoreverse {
    width: 100%;
  }

  /* PAGINA DETALHES */
  .icone-detalhes{
    width: 25px;
    margin-bottom: 20px;
    height: 25px;
  }
  .com-detalhes b {
    font-size: 1.3em;
    margin-bottom: auto
  }
  .contato {
    padding: 15px;
  }
  .formfale {
    padding: 15px;
  }
  .titlecontato {
    margin: 15px 1px 20px 1px;
    font-size: 1.6em;
  }
  .titleform {
    margin: 15px 1px 20px 1px;
    font-size: 1.6em;
  }
  .meutextareac {
    margin-top: 20px;
  }

  /* PAGINA CAD PROPRIEDADE */
  .multi_step_form #msform fieldset {
    height: auto;
    padding: 4px 0;
  }
  .info-text {
    font-size: 1.2em !important;
  }
  .preview {
    padding: 20px;
    position: relative;
  }
  .multi_step_form #msform #progressbar li:before {
    content: "1";
    font: normal normal normal 15px/50px Ionicons;
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .multi_step_form #msform #progressbar li:after {
    content: '';
    width: 100%;
    height: 5px;
    background: #eaf0f4;
    position: absolute;
    left: -50%;
    top: 13px;
    z-index: -1;
  }
}

@media (max-width: 320px) {
  .footermobile {
    display: block;
  }
  .imglp {
    width: 35px;
    height: 35px;
  }
  #img{
    background-image: url("../images/logowwww.png");
}
  /* HOME */
  .destaques {
    margin-bottom: 20px;
  }
    .meumenu {
    display: flex;
  }
  .logom, .telem {
    display: block;
  }
  .logop {
    display: none;
  }
  .fullwidth{
    padding: 10px;
  }
  .lthome {
    padding: 1px 40px 10px 40px;
    margin-bottom: 0px !important;
  }
  .banner .carousel-item {
    height: 30vh;
    min-height: 250px;
  }
  .banner .carousel-indicators li{
    padding: 2px;
  }
  .bg-dark {
    max-height: 90px;
  }
  .filter-button{
    font-size: 0.8em !important;
    padding: 5px 8px !important;
  }
  .gallery-title {
    font-size: 1.1em;
    margin-bottom: 15px;
    padding: 10px 1px 5px 1px;
  }
  .txt-nome {
    margin-top: 10px;
    font-size: 1.2em;
  }
  .txt-localizacao {
    font-size: 1em;
  }
  .txt-dimensao {
    font-size: 1em;
  }
  .txt-preco {
    font-size: 1em;
  }
  .sdestques {
    margin-top: 0px;
  }

  /*SLIDER FORM*/
  .meucol {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .formpesquisatodo {
    padding: 20px 1px;
    width: 100%;
  }
  .formpesquisa {
    position: relative;
    margin-top: 0px;
  }
  .formmargin {
    margin-right: .2rem!important;
  }
  input.meu-form {
    text-align: center;
    font-size: 0.6em;
    padding: 5px 2px;
    width: 100%;
  }
  .meu-select {
    font-size: 0.6em;
    display: inline-block;
    width: 100%;
    padding: 5px 5px;
    font-weight: 400;
    font-weight: bold;
  }
  .meubotao {
    margin-left: 0px;
    width: 100%;
    padding: 3px 4px;
    font-size:0.8em;
  }
  .carousel-indicators {
    bottom: 130px;
  }

    /* PAGINA DETALHES */
    .icone-detalhes{
      width: 25px;
      margin-bottom: 20px;
      height: 25px;
    }
    .com-detalhes b {
      font-size: 1.2em;
      margin-bottom: auto
    }
    /* PAGINA JUNTE_SE A NOS */
  .imgjuntese{
    background: url("../images/junte-se.png");
    background-size: cover;
    min-height: 350px;
  }
  .fomrjuntese {
    background-color: #ecba49;
    min-height: 450px;
    padding: 20px;
  }
  .fomrjuntese .inputcontato {
    margin: 10px 1px 10px 1px;
  }
  .fomrjuntese .meutextareac {
    margin-top: 10px ;
  }
  .inputfile + label {
    width: 100%;
    color: #ecba49;
    border: 2px solid #ecba49;
    background-color: #000000;
  }
  .meubotaocontatoj {
    width: 100%;
  }
  .meubotaocontato {
    width: 100%;
  }
  .meubotaocontatoreverse {
    width: 100%;
  }

  /* PAGINA DETALHES */
  .titlecontato {
    font-size: 1.5em;
  }
  .icone-detalhes{
    width: 25px;
    margin-bottom: 20px;
    height: 25px;
  }
  .com-detalhes b {
    font-size: 1.3em;
    margin-bottom: auto
  }
  .contato {
    padding: 15px;
  }
  .formfale {
    padding: 15px;
  }
  .titlecontato {
    margin: 15px 1px 20px 1px;
    font-size: 1.6em;
  }
  .titleform {
    margin: 15px 1px 20px 1px;
    font-size: 1.6em;
  }
  .meutextareac {
    margin-top: 20px;
  }

  /* PAGINA CAD PRODUTOS */

  .multi_step_form #msform fieldset {
    height: auto;
    padding: 4px 0;
  }
  .info-text {
    font-size: 1.2em !important;
  }
  .preview {
    padding: 20px;
    position: relative;
  }
  .multi_step_form #msform #progressbar li:before {
    content: "1";
    font: normal normal normal 15px/50px Ionicons;
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .multi_step_form #msform #progressbar li:after {
    content: '';
    width: 100%;
    height: 5px;
    background: #eaf0f4;
    position: absolute;
    left: -50%;
    top: 13px;
    z-index: -1;
  }
}
